/* ========== BASE STYLES ========== */
.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #ffffff;
}

.section {
  padding: 120px 0;
}

/* ========== HEADER ========== */
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow:
    0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header .container {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #2e2f42;
  padding: 24px 0;
  margin-right: 76px;
}

.logo span {
  color: #4d5ae5;
}

.navigation {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.nav-link {
  position: relative;
  display: block;
  padding: 24px 0;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.active::after {
  width: 100%;
}

.nav-link:hover::after,
.nav-link:focus::after {
  width: 100%;
}

.nav-link.active {
  color: #404bbf;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.address {
  font-style: normal;
  margin-left: auto;
}

.address-list {
  display: flex;
  gap: 40px;
}

.contact-link {
  display: block;
  padding: 24px 0;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}

.hero {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 188px 0;
  background-image:
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/people-office-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  max-width: 496px;
  margin-bottom: 48px;
}

.hero-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/* ========== UTILITIES ========== */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ========== FEATURES ========== */
.features-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 264px;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
  border: 1px solid #8e8f99;
}

.features-list {
  display: flex;
  gap: 24px;
}

.features-list li {
  width: calc((100% - 72px) / 4);
}

.features-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.features-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* ========== TEAM ========== */
.team {
  background-color: #f4f4fd;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow:
    0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
  width: calc((100% - 72px) / 4);
}

.team-content {
  padding: 32px 16px;
  text-align: center;
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-position {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-bottom: 8px;
}

.social-icons-wrapper {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-links:hover,
.team-social-links:focus {
  background-color: #404bbf;
}

/* ========== PORTFOLIO ========== */
.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
  box-shadow:
    0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-image-wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-overlay p {
  color: #f4f4fd;
}

.portfolio-item:hover .portfolio-overlay {
  transform: translateY(0);
}

.portfolio-overlay-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.portfolio-content {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-item-type {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* ========== FOOTER ========== */
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer .container {
  display: flex;
  align-items: baseline;
}
.footer-container {
  display: flex;
  align-items: flex-start; /* вирівнювання по верхньому краю */
  width: 100%;
}
.footer-info {
  display: flex; /* логотип і текст вертикально */
  flex-direction: column;
  max-width: 264px;
  margin-right: 120px; /* відступ від соцмереж */
}
.footer-links {
  display: flex;
  flex-direction: column;
  margin-right: auto; /* автоматичний відступ до підписки */
}
.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.footer-logo span {
  color: #4d5ae5;
}

.footer-text {
  margin: 0; /* прибираємо зайві відступи параграфа */
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.social-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-social-list {
  display: flex;
  gap: 16px; /* відстань між іконками соцмереж */
  padding: 0;
  margin: 0;
  list-style: none;
}
.footer-social {
  margin-right: auto;
}

.footer-social-link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0;
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}
.team-social-links svg,
.footer-social-link svg {
  fill: #f4f4fd;
}
/* =========================
   MODAL OVERLAY
========================= */
.modal-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition:
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

/* =========================
   MODAL WINDOW
========================= */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 408px;
  padding: 72px 24px 24px;
  background-color: #fcfcfc;
  border-radius: 4px;

  box-shadow:
    0 1px 1px rgba(0, 0, 0, 0.14),
    0 1px 3px rgba(0, 0, 0, 0.12),
    0 2px 1px rgba(0, 0, 0, 0.2);
}

/* =========================
   CLOSE BUTTON
========================= */
.modal-close-button {
  position: absolute;
  top: 24px;
  right: 24px;

  width: 24px;
  height: 24px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;

  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button svg {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover,
.modal-close-button:focus {
  background-color: #404bbf;
}

.modal-close-button:hover svg,
.modal-close-button:focus svg {
  fill: #ffffff;
}

/* =========================
   FORM
========================= */
.modal-title {
  text-align: center;
  margin-bottom: 16px;
  font-weight: 500;
  color: #2e2f42;
}

.reg-form {
  display: flex;
  flex-direction: column;
}

.form-field {
  margin-bottom: 8px;
}

.form-field:last-of-type {
  margin-bottom: 16px;
}

.form-label {
  font-size: 12px;
  margin-bottom: 4px;
  color: #8e8f99;
}

/* =========================
   INPUTS & TEXTAREA
========================= */
.input-wrapper {
  position: relative;
}

.input-wrapper input,
.comment {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment {
  height: 120px;
  padding: 8px 16px;
  resize: none;
}

.input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-wrapper:hover .input-icon,
.input-wrapper:focus-within .input-icon {
  fill: #4d5ae5;
}

.input-wrapper input:focus,
.comment:focus {
  border-color: #4d5ae5;
  outline: none;
}

/* =========================
   FORM LABELS
========================= */
.form-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

/* =========================
   TEXTAREA
========================= */
.comment {
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #2e2f42;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  resize: none;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment:focus {
  border-color: #4d5ae5;
}

.comment::placeholder {
  font-size: 12px;
  line-height: 1.17;
  color: #8e8f99;
}

/* =========================
   CHECKBOX (ПОВНІСТЮ ПЕРЕРОБЛЕНИЙ)
========================= */

/* Контейнер */
.checkbox-field {
  display: flex;
  align-items: center; /* ЗМІНЕНО: center замість flex-start */
  gap: 8px;
  font-size: 12px;
  margin-bottom: 24px;
  cursor: pointer;
}

/* Кастомний квадрат */
.custom-checkbox {
  width: 16px;
  height: 16px;
  min-width: 16px; /* додаємо для стабільності */
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
  position: relative;
  /* Видаляємо margin-top, бо використовуємо align-items: center */
}

/* SVG галочка */
.custom-checkbox .icon-checkmark {
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* Гарантуємо, що SVG буде білим */
  color: white;
  stroke: white;
}

/* Для гарантії білого кольору галочки */
.custom-checkbox .icon-checkmark use,
.custom-checkbox .icon-checkmark path,
.custom-checkbox .icon-checkmark polyline {
  color: white;
  stroke: white;
  fill: none;
}

/* Стан checked */
.checkbox-field input:checked + .custom-checkbox {
  background-color: #404bbf;
  border-color: #404bbf;
}

.checkbox-field input:checked + .custom-checkbox .icon-checkmark {
  opacity: 1;
}

/* Ховер-стан */
.checkbox-field:hover .custom-checkbox {
  border-color: #4d5ae5;
}

/* Фокус для доступності */
.checkbox-field input:focus + .custom-checkbox {
  outline: 2px solid #4d5ae5;
  outline-offset: 2px;
}

/* =========================
   BUTTON (ВИПРАВЛЕНИЙ)
========================= */
.reg-button {
  width: 169px;
  height: 56px;
  margin: 0 auto;
  background-color: #4d5ae5;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* Додаємо display: block для правильного центрування */
  display: block;
}

/* ВИПРАВЛЕНО: розділити hover та focus */
.reg-button:hover,
.reg-button:focus {
  background-color: #404bbf;
}

/* Для кращої видимості фокуса */
.reg-button:focus {
  outline: 2px solid #404bbf;
  outline-offset: 2px;
}

/* =========================
   TEXT & LINKS
========================= */
.policy-text {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #8e8f99;
  user-select: none; /* щоб не виділявся текст при кліку */
}

.privacy-link {
  color: #4d5ae5;
  text-decoration: underline;
}

/* =========================
BUTTON
========================= */

.reg-button:hover,
.reg-button:focus {
  background-color: #404bbf;
}

/* =========================
TEXT & LINKS
========================= */

.privacy-link {
  color: #4d5ae5;
  text-decoration: underline;
}

/* ========================= INPUT ICONS
========================= */

/* =========================
SUBSCRIBE FORM
========================= */
.footer-subscribe {
  display: flex;
  flex-direction: column;
  margin-left: 0; /* прилипає до правого краю */
}
.subscribe-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 1);

  margin: 0 0 16px 0;
}

.subscribe-form {
  display: flex;
  gap: 24px;
  border-radius: 4px;
}

.subscribe-input {
  padding: 8px 16px;
  width: 264px;
  height: 40px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 1); /* Біла рамка */
  border-radius: 4px;
  color: rgba(255, 255, 255, 1);
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-input::placeholder {
  color: rgba(
    255,
    255,
    255,
    1
  ); /* Змінено на суцільний білий */ /* Плейсхолдер з прозорістю */
}

.subscribe-input:focus {
  border-color: #31d0aa; /* Зелена рамка при фокусі */
}

.subscribe-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  min-width: 165px;
  height: 40px;
  padding: 8px 24px;
  background-color: #4d5ae5;
  color: white;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-button:hover,
.subscribe-button:focus {
  background-color: #31d0aa; /* Зелений колір при наведенні/фокусі */
}

.subscribe-button svg {
  fill: currentColor;
}
